@charset "UTF-8";


/*헤더*/
.main-header {
    z-index: 100;
    width: 100%;
    position: fixed;
    font-family: 'Prata', serif;

    border: {
        bottom: 1px solid rgba(0, 0, 0, .07);
    }

    .top-header {
        opacity: 0.8;
        width: 100%;
        height: auto;
        background-color: white;
        border-bottom: 1px solid rgba(0, 0, 0, .07);
        margin: 0;

        .top-header-bar {
            width: 1170px;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;

            padding: {
                top: 4px;
            }

            font-size: 13px;
            margin: 0 auto;

            .top-header-left {
                display: flex;
                flex-direction: row;
                justify-content: left;
                width: 50%;
                height: auto;

                div {
                    width: 38%;
                }
            }

            .top-header-right {
                display: flex;
                flex-direction: row;
                justify-content: right;
                width: 50%;
                height: auto;

                .top-header-right-1 {
                    width: 18%;
                    img{
                        &:hover{
                            transform: scale(1.1);
                        }
                    }

                    ul {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        align-items: center;
                        margin: 0;
                        padding: 1px 0 0 0;
                        
                    }
                }

                .top-header-right-2 {
                    width: 4px;

                    span {
                        text-align: center;
                        padding: 0 0 0 14px;
                    }
                }

                .top-header-right-3 {
                    width: 30%;
                    text-align: right;
                    margin: 0;

                    ul {
                        display: flex;
                        flex-direction: row;
                        justify-content: right;
                        margin: 0;
                        color: coral;

                        .login1 {
                            width: 4%;
                            padding: 1px 0 0 0;
                            cursor: pointer;

                            &:hover{
                                transform: scale(1.1);
                            }
                        }

                        .login2 {
                            width: 80%;
                            cursor: pointer;
                            &:hover{
                                color: red;
                            }
                        }
                    }
                }
            }
        }
    }

    .low-header {
        opacity: 0.8;
        width: 100%;
        height: 80px;
        margin: 0;
        background-color: white;
        box-shadow: 0px 0px 0px transparent;

        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 1170px;
            height: auto;
            margin: 0 auto;


            .logo {
                width: auto;
                font-size: 20px;
                text-align: center;
                line-height: 22px;
                padding: 22px 0 0 0;
                text-shadow: 0px 2px 2px #ddd;
                &:hover{
                    text-shadow: 0px 3px 3px #ddd;
                    h1{
                        color: red;
                    }
                    span{
                        color: red;
                    }
                }

                h1 {
                    color: coral;
                }

                span {
                    font-size: 12px;

                }
            }

            .nav-bar {
                .menu {
                    width: auto;
                    height: auto;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;

                    :hover {
                        color: coral;
                    }

                    li {
                        margin: 10px 0 0 22px;
                        img{
                            &:hover{
                                transform: scale(1.1);
                            }
                        }

                        .sub {
                            width: auto;
                            position: absolute;
                            top: 78%;
                            display: none;

                            li {
                                margin: 0;
                                width: 100%;
                                line-height: 1.5;
                                background-color: #dcdcdc;;
                                opacity: 0.6;
                                padding: 0 6px;
                                border-bottom: 1px solid white;
                                border-radius: 5px;

                                :hover {
                                    color: white;
                                    opacity: 1;
                                    background-color: coral;
                                }

                                a {
                                    color: red;
                                }
                            }
                        }
                    }
                    input:focus{outline:1px solid #d50000;}
                    input {
                        border: 1px solid #ddd;
                        border-radius: 5px;
                        display: block;
                        padding: 4px 0;
                        text-align: center;

                        &:hover{
                            border:1px solid red;
                        }
                    }
                }
            }

        }
    }
}


/*푸터*/
footer {
    position: absolute;
    min-width: 100%;
    height: 280px;
    margin: 0;
    padding: 0 0 6px 0;
    background-color: #434343;
    font-family: 'Prata', serif;

    a {
        color: white;
    }

    .footer-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        color: white;
        width: 1170px;
        height: auto;
        margin: 0 auto;
        padding: 30px 0 0 0;

        .footer-address {
            width: 30%;
            font-size: 20px;
            text-align: left;
            line-height: 26px;

            :hover a {
                color: white
            }

            a {
                text-decoration: none;
                color: coral;
            }
        }

        .footer-menu {
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            ul {
                font-size: 20px;

                :hover a {
                    color: coral;
                }

                .card {
                    margin: 10px auto;
                    img{
                        box-shadow: 2px 2px 4px #434343;
                        &:hover{
                            box-shadow: 1px 1px 2px #fee0e0;
                        }
                    }
                    
                }
            }
        }

    }

    .sen {
        width: 1170px;
        margin: 0 auto;

        p {
            color: white;
            margin: 20px auto;
            color: white;
            text-align: right;
        }
    }
}
