@charset "UTF-8";

#sec2 {
    width: 1170px;
    height: 1200px;
    margin: 30px auto 60px auto;
    padding: 10px;
    position: relative;

    h3 {
        padding: 30px 0 0 20px;
        font-size: 20px;
    }

    input {
        cursor: pointer;
        line-height: 30px;
        width: 176px;
        padding: 0 0 0 10px;
        position: absolute;
        top: 76px;
        left: 30px;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0px 4px 4px #eee;
    }

    h4 {
        margin: 0px 0;
        width: 100%;
        font-size: 20px;
        text-align: center;
    }

    #booklist {
        position: absolute;
        top: 11%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;

        span {
            font-size: 10px;
            margin: 0;
            color: coral;
        }

        li {
            text-align: center;
            border: 1px solid #ddd;
            border-radius: 5px;
            float: left;
            line-height: 12px;
            cursor: pointer;
            padding: 6px 40px 0 40px;
            margin: 0 2px;
            box-shadow: 4px 4px 4px #eee;
        }

        :hover {
            color: coral;
            border: 1px solid coral;

            span {
                border: none;
            }
        }
    }

    #titlelist {
        margin: 140px 0 0 0px;
        font-size: 20px;
        color: coral;
        text-align: center;
    }

    .box_wrap {
        position: absolute;
        width: 100%;
        height: auto;
        padding: 20px 0 0 0px;

        .box {
            width: 260px;
            height: 382px;
            float: left;
            text-align: center;
            margin: 14px;
            padding: 15px 15px;
            border-radius: 4px;
            border: 1px solid #ddd;
            box-shadow: 4px 4px 4px #eee;

            &:hover {
                transform: scale(1.03);
                box-shadow: 4px 4px 4px #d9d9d9;
            }

            img {
                box-shadow: 4px 4px 4px #d9d9d9;

                &:hover {
                    transform: scale(1.03);
                }
            }

            p {
                font-size: 10px;
                color: #666;
                text-align: left;
            }

            h3 {
                padding: 8px;
            }

            h6 {
                padding: 0 0 4px 0;
            }

            a {
                text-decoration: none;
                color: #333;
                font-size: 14px;
            }

            :hover a {
                text-decoration: underline;
                color: coral;
            }

            .btn {
                display: inline-block;
                padding: 4px 10px;
                margin: 6px 0;
                border: solid 3px currentColor;
                border-radius: 6px;
                background-color: #A7A37E;
                color: #fff;
                font-size: 10px;
                text-decoration: none;

                &:hover {
                    background-color: coral;
                }
            }

        }

    }

    #list_a {
        display: block;
    }

    #list_b {
        display: none;
    }

    #list_c {
        display: none;
    }

    #list_d {
        display: none;
    }
}
