@charset "UTF-8";

/*탑 슬라이드*/

#topslide {
    height: auto;
}

#up {
    z-index: 200;
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 80px;
    height: 80px;
    transition: all 0.5s ease;
    opacity: 0;
    visibility: hidden;
}

#up.on {
    opacity: 1;
    visibility: visible;
}

#up a {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    z-index: 100;
}
